<div class="select-title">
    브랜드검색
</div>
<ul class="detail-select">
    <li>
        {{#each brand}}
        <input type="checkbox" id={{name}}>
        <span>{{name}}</span>
        {{/each}}
    </li>
</ul>