<div class="select-detail-view">
    <div>
        <span>이름</span>
        <div class="detail name">Jadore</div>
    </div>
    <div>
        <span>브랜드</span>
        <div class="detail brand">Dior</div>
    </div>
    <div>
        <span>소개</span>
        <div class="detail intro">여성스러운 향수</div>
    </div>
    <img src="../img/jadore.jpg">
</div>