@import 'common.less';

@info-font-color: #f3f3f3;
@info-font-bg: #494949;

//향수 노트 버튼
.note-btns {
  display: inline-block;
  padding: 0px;
  width: 12.5%;
  text-align: center;
  color: @info-font-color;
  vertical-align: top;

  li {
    margin: 20px 0px;
    width: 200px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    list-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: @info-font-bg;
    cursor: pointer;

    &:first-child {
      margin-top: 0px;
    }
  }
}

//향수 종류 버튼
.division-btns {
  display: inline-block;
  padding: 0px;
  width: 12.5%;
  text-align: center;
  color: @info-font-color;
  vertical-align: bottom;

  li {
    margin: 20px 0px;
    width: 200px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    list-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: @info-font-bg;
    cursor: pointer;

    &:last-child {
      margin-bottom: 150px;
    }
  }
}

//버튼에 대한 내용부분
.contents-box {
  display: inline-block;
  padding: 20px;
  width: 75%;
  min-height: 700px;
  font-size: 18px;
  vertical-align: top;

  .main-word {
    line-height: 20px;
  }
}

//노트 부분
.note {
  padding-left: 30px;
}

.note-contents {
  display: none;
}

.note-contents.active {
  display: inline-block;

  p {
    margin-top: 10px;
  }
}

//종류 부분
.division {
  margin-left: 35%;
}

.division-contents {
  display: none;
  text-align: left;

  .percent {
    margin-top: 10px;
  }

  .question {
    margin: 0px 5px;
    cursor: pointer;
  }

  #mean {
    display: none;
    font-size: 15px;
    font-weight: bold;
  }

  p {
    margin: 10px 0px;
  }
}

.division-exam {
  padding-left: 0px;
}

.division-exam > li{
  display: inline-block;

  img {
    width: 200px;
  }
}

.division-contents.active {
  display: inline-block;

  p {
    margin-top: 10px;
  }
}

//계열 부분

.type-contents {
  padding-right: 30px;
  display: none;
  width: 100%;
}

.type-contents.active {
  display: inline-block;
}

.type {
  margin: 0px auto;
  width: 70%;
  height: 520px;
  text-align: center;

  tr td {
    color: @info-font-color;
    background-color: @info-font-bg;
    cursor: pointer;
  }

  tr td:first-child, tr td:last-child {
    width: 130px;
    height: 130px;
  }
}

#type-view {
  height: 250px;
  color: @info-font-bg;
  background-color: #ffffff;
}

.type-text {
  display: none;
}

.type-text.active {
  display: inline-block;
}

.type-topic {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.type-exam {
  width: 200px;
}