@import 'common.less';

.share-info-title {
  margin: 30px 0px;
  font-size: 18px;
  text-align: center;
}

.share-info-list {
  margin: 0px auto;
  width: 80%;
  height: 500px;//
  text-align: center;
  background-color: steelblue;//
}