<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>향</title>
</head>
<body>
{{> template/header}}
<ul class="perfume-division">
    <li>퍼퓸</li>
    <li>오 드 퍼퓸</li>
    <li>오 드 뚜왈렛</li>
    <li>오 드 코롱</li>
    <li>샤워코롱</li>
</ul>
<div class="perfume-division-text active">
    <div class="division-topic">
        퍼퓸 ( Perfume )
    </div>
    <div class="division-percent">
        <span>부향률</span>
        15% ~ 30%
    </div>
    <div class="division-mention">
        향수의 종류 중에서 가장 농도가 진하다
    </div>
    <div class="division-time">
        <span>지속시간</span>
        약 6 ~ 7시간 정도
    </div>
    <div class="division-how">
        <span>바르는 방법</span>
        손목이나 목덜미에 점을 찍듯이 2 ~ 3방울 정도<br>
        바르는 것이 좋다
    </div>
    <ul class="division-exam">
       <li>
           <img src="./img/n'5leau.jpg">
       </li>
       <li>
           <img src="./img/n'5leau.jpg">
       </li>
       <li>
           <img src="./img/n'5leau.jpg">
       </li>
    </ul>
</div>
{{> template/footer}}
</body>
</html>