<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
Index Page<br>
<a href="sub.html">Go To Sub Page</a>
{{> template/footer}}
</body>
</html>