<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<div class="main-sentence">로그인</div>
<div class="login-box">
    <div class="login-section">
        <div class="login-id">
            <div>아이디</div>
            <input id="login"><br>
        </div>
        <div class="login-pass">
            <div>비밀번호</div>
            <input type="password" id="pass">
        </div>
        <div class="btn-box">
            <button class="login-btn">로그인</button>
            <button class="member-btn">회원가입</button>
        </div>
        <div class="auto-login">
            <input type="checkbox" id="auto-login">자동로그인
        </div>
        <div class="search-member">
            아이디 / 비밀번호 찾기
        </div>
    </div>
    <div class="social-login">
        <div>SNS로그인</div>
        <div class="sns-btn">
            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-instagram"></i>
        </div>
    </div>
</div>
{{> template/footer }}
</body>
</html>