<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<div class="login-box">
    <div class="main-sentence">로그인</div>
    <div>
        <input id="login-id">
        <input type="password">
    </div>
</div>
{{> template/footer }}
</body>
</html>