<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<ul class="member">
    <li class="login-form">
        <div>로그인</div>
    </li>
    <li class="join-form">
        <div>회원가입</div>
    </li>
</ul>
<div class="member-login-form active">
    <div class="login-box">
        <div>아이디</div>
        <input>
        <div>비밀번호</div>
        <input type="password">
        <button>로그인</button>
    </div>
    <div class="login-check">
        <input type="checkbox"> 자동로그인
    </div>
    <div class="login-search">
        <span id="id-search">아이디 찾기</span>
        <span>|</span>
        <span id="pass-search">비밀번호 찾기</span>
    </div>
</div>
<div class="member-join-form">
    <div class="login-box">
        <div>이메일 주소</div>
        <input>
        <div>비밀번호</div>
        <input type="password">
        <button>회원가입</button>
    </div>
    <div class="login-check">
        <input type="checkbox"> 약관동의
        <div>약관보기</div>
    </div>
</div>
{{> template/footer }}
</body>
</html>