<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>향</title>
</head>
<body>
{{> template/header}}
<div class="main-sentence">
    <span class="sentence">나에게</span>
    <span class="sentence">어울리는</span>
    <span class="main-word">향</span>
    <span class="sentence">을</span>
    <span class="sentence">찾아보세요</span>
</div>
<ul class="perfume-list">
    <li>
        <img src="./img/jadore.jpg">
    </li>
    <li>
        <img src="./img/missDior.jpg">
    </li>
    <li>
        <img src="./img/diorHomme.jpg">
    </li>
    <li>
        <img src="./img/n'5.jpg">
    </li>
    <li>
        <img src="./img/n'5leau.jpg">
    </li>
    <li>
        <img src="./img/blueDeChanel.jpg">
    </li>
</ul>
<div class="detail-condition">
    <div class="detail-button">
        상<br>세<br>검<br>색
    </div>
    <div class="detail-box">
        <div class="detail-type">
            브랜드 선택
        </div>
        <ul class="detail-select">
            <li>
                <input type="checkbox" id="Chanel">
                <span>Chanel</span>
            </li>
            <li>
                <input type="checkbox" id="Dior">
                <span>Dior</span>
            </li>
            <li>
                <input type="checkbox" id="Jomalone">
                <span>Jomalone</span>
            </li>
            <li>
                <input type="checkbox" id="Chloe">
                <span>Chloe</span>
            </li>
            <li>
                <input type="checkbox" id="Kenzo">
                <span>Kenzo</span>
            </li>
            <li>
                <input type="checkbox" id="Diptyque">
                <span>Diptyque</span>
            </li>
        </ul>
        <div class="detail-type">
            이미지 선택
        </div>
        <ul class="detail-select">
            <li>
                <input type="checkbox" id="cool">
                <span>시원한 상쾌한</span>
            </li>
            <li>
                <input type="checkbox" id="warm">
                <span>따뜻한 부드러운</span>
            </li>
            <li>
                <input type="checkbox" id="relax">
                <span>편안한</span>
            </li>
            <li>
                <input type="checkbox" id="sweet">
                <span>달콤한</span>
            </li>
            <li>
                <input type="checkbox" id="citrus">
                <span>상큼한</span>
            </li>
            <li>
                <input type="checkbox" id="mature">
                <span>성숙한</span>
            </li>
            <li>
                <input type="checkbox" id="sexy">
                <span>섹시한</span>
            </li>
            <li>
                <input type="checkbox" id="heavy">
                <span>중후한 무거운</span>
            </li>
        </ul>
        <div class="detail-type">
            계열 선택
        </div>
        <ul class="detail-select">
            <li>
                <input type="checkbox" id="floralLine">
                <span>플로랄 계열</span>
            </li>
            <li>
                <input type="checkbox" id="woodyLine">
                <span>우디 계열</span>
            </li>
            <li>
                <input type="checkbox" id="greenLine">
                <span>그린향 계열</span>
            </li>
            <li>
                <input type="checkbox" id="citrusLine">
                <span>시트러스 계열</span>
            </li>
            <li>
                <input type="checkbox" id="powderyLine">
                <span>파우더리 계열</span>
            </li>
            <li>
                <input type="checkbox" id="chupreLine">
                <span>시프레 계열</span>
            </li>
            <li>
                <input type="checkbox" id="fruityLine">
                <span>프루티 계열</span>
            </li>
            <li>
                <input type="checkbox" id="orientalLine">
                <span>오리엔탈 계열</span>
            </li>
            <li>
                <input type="checkbox" id="aquaLine">
                <span>아쿠아 계열</span>
            </li>
            <li>
                <input type="checkbox" id="aldehydeLine">
                <span>알데히드 계열</span>
            </li>
            <li>
                <input type="checkbox" id="muskLine">
                <span>머스크 계열</span>
            </li>
            <li>
                <input type="checkbox" id="spicyLine">
                <span>스파이시 계열</span>
            </li>
            <li>
                <input type="checkbox" id="oceanicLine">
                <span>오셔닉 계열</span>
            </li>
            <li>
                <input type="checkbox" id="fougereLine">
                <span>푸제아 계열</span>
            </li>
            <li>
                <input type="checkbox" id="tobaccoSeaterLine">
                <span>타파코레더 계열</span>
            </li>
            <li>
                <input type="checkbox" id="gourmandLine">
                <span>그루망 계열</span>
            </li>
        </ul>
        <div class="detail-type">
            계절 선택
        </div>
        <ul class="detail-select">
            <li>
                <input type="checkbox" id="spring">
                <span>봄</span>
            </li>
            <li>
                <input type="checkbox" id="summer">
                <span>여름</span>
            </li>
            <li>
                <input type="checkbox" id="fall">
                <span>가을</span>
            </li>
            <li>
                <input type="checkbox" id="winter">
                <span>겨울</span>
            </li>
        </ul>
        <div class="detail-type">
            성별 선택
        </div>
        <ul class="detail-select">
            <li>
                <input type="checkbox" id="male">
                <span>남성</span>
            </li>
            <li>
                <input type="checkbox" id="female">
                <span>여성</span>
            </li>
        </ul>
        <div class="detail-type">
            연령대 선택
        </div>
        <ul class="detail-select">
            <li>
                <input type="checkbox" id="ten">
                <span>10대</span>
            </li>
            <li>
                <input type="checkbox" id="twenty">
                <span>20대</span>
            </li>
            <li>
                <input type="checkbox" id="thirty">
                <span>30대</span>
            </li>
            <li>
                <input type="checkbox" id="forty">
                <span>40대</span>
            </li>
            <li>
                <input type="checkbox" id="fifty">
                <span>50대</span>
            </li>
            <li>
                <input type="checkbox" id="sixty">
                <span>60대 이상</span>
            </li>
        </ul>
    </div>
</div>

{{> template/footer}}
</body>
</html>