<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>향</title>
</head>
<body>
{{> template/header}}
<div class="detail-layer"></div>
<div class="main-sentence">
    <span class="sentence">나에게</span>
    <span class="sentence">어울리는</span>
    <span class="main-word">향</span>
    <span class="sentence">을</span>
    <span class="sentence">찾아보세요</span>
</div>
<ul class="perfume-list">
</ul>
<div class="detail-view">
</div>
<div class="detail-condition">
    <div class="detail-button">
        상세검색
    </div>
    <div class="detail-box">
        <div>
            <div class="select-title">
                브랜드
            </div>
            <ul class="detail-select brand">
            </ul>
            <div class="select-title">
                이미지
            </div>
            <ul class="detail-select image">
            </ul>
            <div class="select-title">
                계절
            </div>
            <ul class="detail-select season">
            </ul>
        </div>
        <div>
            <div class="select-title">
                계열
            </div>
            <ul class="detail-select perfume-type">
            </ul>
            <div class="select-title">
                연령
            </div>
            <ul class="detail-select age">
            </ul>
            <div class="select-title">
                성별
            </div>
            <ul class="detail-select gender">
            </ul>
        </div>
        <div class="search-button">
            <button>검색</button>
        </div>
    </div>
</div>
{{> template/footer}}
</body>
</html>