<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>향</title>
</head>
<body>
{{> template/header}}
<div class="detail-layer layer"></div>
<div class="main-sentence">
    <span class="sentence">나에게</span>
    <span class="sentence">어울리는</span>
    <span class="main-word">향</span>
    <span class="sentence">을</span>
    <span class="sentence">찾아보세요</span>
</div>
<ul class="perfume-list">
</ul>
<div class="detail-view">
</div>
<div class="detail-condition">
    <div class="detail-button">
        상세검색
    </div>
    <div class="detail-box">
        <div>

        </div>
        <div></div>
    </div>
</div>
{{> template/footer}}
</body>
</html>