<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<div class="share-info-title">
    정보 공유
</div>
<div class="share-info-list">
정보공유 게시판
</div>
{{> template/footer }}
</body>
</html>