<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>향</title>
</head>
<body>
{{> template/header}}
<div class="main-sentence">향수에 대한 궁금증</div>
<ul class="note-btns">
    <li>탑노트</li>
    <li>미들노트</li>
    <li>베이스노트</li>
    <li id="type">계열</li>
</ul>
<div class="contents-box">
    <div class="note">
        <div class="note-contents active">
        </div>
        <div class="type-contents">

        </div>
    </div>
    <div class="division">
        <div class="division-contents active">
        </div>
    </div>
</div>
<ul class="division-btns">
    <li>퍼퓸</li>
    <li>오 드 퍼퓸</li>
    <li>오 드 뚜왈렛</li>
    <li>오 드 코롱</li>
    <li>샤워코롱</li>
</ul>
</body>
</html>
